@page "/edit-project"
@page "/edit-project/{Id:int}"
@inject NavigationManager NavigationManager
@inject EnvironmentVariableService EnvironmentVariableService
@rendermode InteractiveServer

@if(Id is null)
{
	<PageTitle>Add a new project</PageTitle>
	<h3>Add a new project</h3>

	<EditForm Model="CurrentProject" OnSubmit="HandleSubmit">
		<div>
			<label for="title">Title</label>
			<InputText id="title" @bind-Value="CurrentProject.Title" class="form-control" />
		</div>
		<div>
			<label for="description">Description</label>
			<InputText id="description" @bind-Value="CurrentProject.Description" class="form-control" />
		</div>
		<div>
			<label for="weburl">WebUrl</label>
			<InputText id="weburl" @bind-Value="CurrentProject.WebUrl" class="form-control" />
		</div>
		<button type="submit" class="btn btn-primary">Save</button>
	</EditForm>
}
else
{
	<PageTitle>Edit: "@CurrentProjectDTO.Title"</PageTitle>
	<h3>Edit: "@CurrentProjectDTO.Title"</h3>

	<EditForm Model="CurrentProjectDTO" OnSubmit="HandleSubmit">
		<div>
			<label for="title">Title</label>
			<InputText id="title" @bind-Value="CurrentProjectDTO.Title" class="form-control" />
		</div>
		<div>
			<label for="description">Description</label>
			<InputText id="description" @bind-Value="CurrentProjectDTO.Description" class="form-control" />
		</div>
		<!--<div>
			<label for="weburl">WebUrl</label>
			<InputText id="weburl" @bind-Value="CurrentProject.WebUrl" class="form-control" />
		</div>-->
		<button type="submit" class="btn btn-primary">Save</button>
	</EditForm>
}

@code
{
	[Parameter]
	public int? Id { get; set; }

	public PortfolioProject CurrentProject { get; set; } = new();
	public PortfolioProjectDTO CurrentProjectDTO { get; set; } = new();
	private HttpResponseMessage response = new();

	protected override async Task OnParametersSetAsync()
	{
		if(Id is not null)
		{
			/*var project = await PortfolioService.GetProjectByIdAsync((int)Id);*/

			var APIURL = EnvironmentVariableService.GetApiUrl();
			HttpClient httpClient = new HttpClient();
			response = await httpClient.GetAsync(APIURL + "api/PortfolioProjects/" + (int)Id);
			var project = JsonConvert.DeserializeObject<PortfolioProjectDTO>(await response.Content.ReadAsStringAsync()) ?? new PortfolioProjectDTO();
			httpClient.Dispose();

			if(project is not null)
			{
				CurrentProjectDTO = project;
			}
		}
	}

	async Task HandleSubmit()
	{
		if(Id is not null)
		{
			// Update 
			/*await PortfolioService.UpdateProjectAsync(CurrentProject, (int)Id);
			NavigationManager.NavigateTo("/portfolio");*/

			var APIURL = EnvironmentVariableService.GetApiUrl();

			HttpClient httpClient = new HttpClient();
			string jsonContent = JsonConvert.SerializeObject(CurrentProjectDTO);
			HttpContent httpContent = new StringContent(jsonContent);
			httpContent.Headers.ContentType.MediaType = "application/json";
			response = await httpClient.PutAsync(APIURL + "api/PortfolioProjects/" + (int)Id, httpContent);
			httpClient.Dispose();

			NavigationManager.NavigateTo("/portfolio");
		}
		else
		{
			// Add
			/*await PortfolioService.AddProjectAsync(CurrentProject);
			NavigationManager.NavigateTo("/portfolio");*/

			var APIURL = EnvironmentVariableService.GetApiUrl();

			HttpClient httpClient = new HttpClient();
			string jsonContent = JsonConvert.SerializeObject(CurrentProject);
			HttpContent httpContent = new StringContent(jsonContent);
			httpContent.Headers.ContentType.MediaType = "application/json";
			response = await httpClient.PostAsync(APIURL + "api/PortfolioProjects/", httpContent);
			httpClient.Dispose();

			NavigationManager.NavigateTo("/portfolio");
		}
	}
}
