@page "/"
@attribute [StreamRendering]

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code
{
	/*
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
	if (!firstRender) return;

	await Task.Delay(500);
	projects = await PortfolioService.GetAllProjectsAsync();
	StateHasChanged();
	}
	*/
}